match_pattern/gSpan/gSpan-64/masif_training_graphs.txt
match_pattern/gSpan/gSpan-64/corpus_filtertest_masif_graphs.txt
match_pattern/gSpan/gSpan-64/scanet_training_graphs.txt
match_pattern/gSpan/gSpan-64/scanet_testing_graphs.txt
match_pattern/gSpan/gSpan-64/corpus_filtertest_scanet_graphs.txt
